.alert1 {
    padding: 20px;
    background-color: #FF0019;
    color: #ffffff;
    margin: 0 0 1rem 0;
}

.alert2 {
    padding: 20px;
    background-color: #FFBD5C;
    color: #ffffff;
    margin: 0 0 1rem 0;
}

.alert3 {
    padding: 20px;
    background-color: #9B9B9B;
    color: #ffffff;
    margin: 0 0 1rem 0;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}