body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.35em;
  margin: 0;
  font-size: 12px;
    
    h1 {
        color: #343030;
        font-size: 1.75em;
        padding: 0 0 1em 0;
    }
    
    h2 {
        font-family: 'Open Sans Bold', sans-serif;
        font-size: 1.25em;
        color: #4A4A4A;
        padding: 1em 0 0 0;
    }
    
    p {
        color: #221C1D;
    }
    
    main {
        margin: 1.5em 0;
        padding: 0 5em 0 0;
        float: right;
        width: 75%;
        
        p {
           width: 75%;
        }
    }
  }
