body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.35em;
  margin: 0;
  font-size: 12px;
    
    h1 {
        color: #4A4A4A;
        font-size: 1.5em;
    }
    
    p {
        color: #221C1D;
    }
    
    main {
        margin: 1.5em 0;
        float: right;
        width: 75%;
        
        p {
           width: 75%;
        }
    }
  }
